<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii Art Web</title>
</head>
<body>
    <h1>Ascii Art Web</h1>

    <header> header</header>
    <main>
        <form action="" method="post">
            <label for="text" >text input</label>
            <textarea name="text" id="text" cols="30" rows="10"></textarea>

            <input type="radio" name="banner" id="standard" >
            <label for="standard">standard</label>
            <input type="radio" name="banner" id="thinkertoy" >
            <label for="thinkertoy">thinkertoy</label>
            <input type="radio" name="banner" id="shadow" >
            <label for="shadow">shadow</label>
            <input type="submit" value="Create art">
        </form>
    </main>
    <footer>Footer</footer>
</body>
</html>